body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: gray;
    display: flex;
    position: relative;
}

.card {
    width:50px;
    height: 50px;
    background-color: whitesmoke;
    animation-name: move;
    animation-duration: 4s;
    position: absolute;

}


@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }